<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotCity</key>
	<array>
		<string>厦门</string>
		<string>上海</string>
		<string>广州</string>
		<string>深圳</string>
		<string>北京</string>
		<string>南京</string>
		<string>杭州</string>
		<string>天津</string>
	</array>
	<key>normalCity</key>
	<dict>
		<key>A</key>
		<array>
			<string>安庆</string>
			<string>安阳</string>
		</array>
		<key>B</key>
		<array>
			<string>北京</string>
			<string>保定</string>
		</array>
		<key>C</key>
		<array>
			<string>重庆</string>
			<string>成都</string>
		</array>
		<key>D</key>
		<array>
			<string>大同</string>
			<string>大理</string>
		</array>
		<key>H</key>
		<array>
			<string>杭州</string>
			<string>合肥</string>
			<string>海口</string>
			<string>葫芦岛</string>
			<string>哈尔滨</string>
			<string>邯郸</string>
			<string>衡水</string>
			<string>淮安</string>
			<string>湖州</string>
			<string>淮南</string>
		</array>
		<key>K</key>
		<array>
			<string>昆明</string>
			<string>开封</string>
			<string>昆山</string>
			<string>开化</string>
		</array>
		<key>L</key>
		<array>
			<string>临汾</string>
			<string>辽阳</string>
			<string>连云港</string>
			<string>丽水</string>
			<string>六安</string>
			<string>龙岩</string>
			<string>临沂</string>
			<string>聊城</string>
			<string>洛阳</string>
		</array>
		<key>Y</key>
		<array>
			<string>烟台</string>
			<string>扬州</string>
			<string>阳泉</string>
			<string>运城</string>
			<string>营口</string>
			<string>延边</string>
			<string>宜春</string>
			<string>盐城</string>
			<string>鹰潭</string>
			<string>宜昌</string>
			<string>岳阳</string>
			<string>益阳</string>
			<string>永州</string>
		</array>
	</dict>
</dict>
</plist>
