<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotCity</key>
	<array>
		<dict>
			<key>cityName</key>
			<string>厦门</string>
			<key>cityLetter</key>
			<string>xm</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>上海</string>
			<key>cityLetter</key>
			<string>sh</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>广州</string>
			<key>cityLetter</key>
			<string>gz</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>深圳</string>
			<key>cityLetter</key>
			<string>sz</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>北京</string>
			<key>cityLetter</key>
			<string>bj</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>南京</string>
			<key>cityLetter</key>
			<string>nj</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>杭州</string>
			<key>cityLetter</key>
			<string>hz</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>天津</string>
			<key>cityLetter</key>
			<string>tj</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>青岛</string>
			<key>cityLetter</key>
			<string>qd</string>
		</dict>
	</array>
	<key>normalCity</key>
	<dict>
		<key>A</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>安庆</string>
				<key>cityLetter</key>
				<string>aq</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>安阳</string>
				<key>cityLetter</key>
				<string>ay</string>
			</dict>
		</array>
		<key>B</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>北京</string>
				<key>cityLetter</key>
				<string>bj</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>保定</string>
				<key>cityLetter</key>
				<string>bd</string>
			</dict>
		</array>
		<key>C</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>重庆</string>
				<key>cityLetter</key>
				<string>cq</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>成都</string>
				<key>cityLetter</key>
				<string>cd</string>
			</dict>
		</array>
		<key>D</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>大同</string>
				<key>cityLetter</key>
				<string>dt</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>大理</string>
				<key>cityLetter</key>
				<string>dl</string>
			</dict>
		</array>
		<key>H</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>杭州</string>
				<key>cityLetter</key>
				<string>hz</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>合肥</string>
				<key>cityLetter</key>
				<string>hf</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>海口</string>
				<key>cityLetter</key>
				<string>hk</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>葫芦岛</string>
				<key>cityLetter</key>
				<string>hld</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>邯郸</string>
				<key>cityLetter</key>
				<string>hd</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>衡水</string>
				<key>cityLetter</key>
				<string>hs</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>淮安</string>
				<key>cityLetter</key>
				<string>ha</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>湖州</string>
				<key>cityLetter</key>
				<string>hz</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>淮南</string>
				<key>cityLetter</key>
				<string>hn</string>
			</dict>
		</array>
		<key>K</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>昆明</string>
				<key>cityLetter</key>
				<string>km</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>开封</string>
				<key>cityLetter</key>
				<string>kf</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>昆山</string>
				<key>cityLetter</key>
				<string>ks</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>开化</string>
				<key>cityLetter</key>
				<string>kh</string>
			</dict>
		</array>
		<key>L</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>临汾</string>
				<key>cityLetter</key>
				<string>lf</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>辽阳</string>
				<key>cityLetter</key>
				<string>ly</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>连云港</string>
				<key>cityLetter</key>
				<string>lyg</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>丽水</string>
				<key>cityLetter</key>
				<string>ls</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>六安</string>
				<key>cityLetter</key>
				<string>la</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>龙岩</string>
				<key>cityLetter</key>
				<string>ly</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>临沂</string>
				<key>cityLetter</key>
				<string>ly</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>聊城</string>
				<key>cityLetter</key>
				<string>lc</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>洛阳</string>
				<key>cityLetter</key>
				<string>ly</string>
			</dict>
		</array>
		<key>Y</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>烟台</string>
				<key>cityLetter</key>
				<string>yt</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>扬州</string>
				<key>cityLetter</key>
				<string>yz</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>阳泉</string>
				<key>cityLetter</key>
				<string>yq</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>运城</string>
				<key>cityLetter</key>
				<string>yc</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>营口</string>
				<key>cityLetter</key>
				<string>yk</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>延边</string>
				<key>cityLetter</key>
				<string>yb</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>宜春</string>
				<key>cityLetter</key>
				<string>yc</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>盐城</string>
				<key>cityLetter</key>
				<string>yc</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>鹰潭</string>
				<key>cityLetter</key>
				<string>yt</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>宜昌</string>
				<key>cityLetter</key>
				<string>yc</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>岳阳</string>
				<key>cityLetter</key>
				<string>yy</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>益阳</string>
				<key>cityLetter</key>
				<string>yy</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>永州</string>
				<key>cityLetter</key>
				<string>yz</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
